.logo {
  display: none;
}

.background {
  background-color: #273f5a;
  color: #fff;
}

.cards {
  display: none;
}

.card-title, .card-text{
  color: #fff !important;
}

.show-card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.show-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
